* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
header {
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 220px;
}
.nav-title {
  font-size: 2rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
.banner-content {
  max-width: 862px;
  text-align: center;
  /* margin: 0 auto; */
}
.banner-title {
  font-size: 64px;
  color: #131313;
}
.banner-content > p {
  color: #727272;
}
