:root {
  --ff: "Work Sans", sans-serif;

  --fs-big: 4rem;
  --fs-semi-medium: 2.8125rem;
  --fs-medium: 1.25rem;
  --fs-normal: 1rem;

  --fw-bold: 900;
  --fw-semibold: 700;
  --fw-medium: 500;
  --fw-normal: 400;

  --clr-primary: #131313;
  --clr-secondary: #424242;
  --clr-text: #727272;
  --clr-accent: #ff900e;
}
* {
  font-family: var(--ff);
  font-size: var(--fs-normal);
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
header {
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 220px;
}
.nav-title {
  font-size: var(--fs-semi-medium);
  font-weight: var(--fw-semibold);
  color: var(--clr-primary);
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  font-weight: var(--fw-medium);
  padding: 30px;
}
nav li a {
  text-decoration: none;
  color: var(--clr-secondary);
}
.heading-button {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
}
.hero-title {
  font-size: var(--fs-big);
  color: var(--clr-primary);
  margin-bottom: 2rem;
}
.heading-button > p {
  color: var(--clr-text);
  margin-bottom: 2rem;
}
.btn-primary {
  color: white;
  font-size: var(--fs-medium);
  background-color: var(--clr-accent);
  padding: 20px 25px;
  border: none;
  border-radius: 7px;
  margin-bottom: 3rem;
}
img {
  width: 75%;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

/* // main section style start here */

.team-sec {
  margin: 0 4rem;
  padding: 2rem;
}
.team-image-grid {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  gap: 0.3rem;
}
.team-image-grid > img {
  width: 30%;
}
