:root {
  --ff: "Work Sans", sans-serif;

  --fs-big: 4rem;
  --fs-semi-medium: 2.8125rem;
  --fs-medium: 1.25rem;
  --fs-normal: 1rem;

  --fw-bold: 900;
  --fw-semibold: 700;
  --fw-medium: 500;
  --fw-normal: 400;

  --clr-primary: #131313;
  --clr-secondary: #424242;
  --clr-text: #727272;
  --clr-accent: #ff900e;
}
* {
  font-family: var(--ff);
  font-size: var(--fs-normal);
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 220px;
}
.nav-title {
  font-size: var(--fs-semi-medium);
  font-weight: var(--fw-semibold);
  color: var(--clr-primary);
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  font-weight: var(--fw-medium);
  padding: 30px;
}
nav li a {
  text-decoration: none;
  color: var(--clr-secondary);
}
p {
  color: var(--clr-text);
}
.heading-button {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
}
.hero-title {
  font-size: var(--fs-big);
  color: var(--clr-primary);
  margin-bottom: 2rem;
}
.heading-button > p {
  color: var(--clr-text);
  margin-bottom: 2rem;
}
.btn-primary {
  color: white;
  font-size: var(--fs-medium);
  background-color: var(--clr-accent);
  padding: 20px 25px;
  border: none;
  border-radius: 7px;
  margin-bottom: 3rem;
}
img {
  width: 75%;
  display: block;
  margin: auto;
}

/* // main section style start here */
main {
  background-color: white;
  margin: 0 240px;
}
/* team sectino style */
.team-container {
  display: flex;
  align-items: center;
  padding: 85px 60px 130px 60px;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-image-container > img {
  width: 342px;
}
.team-content-container {
  padding-left: 73px;
  padding-right: 40px;
}
.team-content-container > h2,
p {
  margin-bottom: 20px;
}
h2,
span {
  font-size: var(--fs-semi-medium);
}
.quick-list {
  color: var(--clr-text);
  font-weight: var(--fw-medium);
}
.feature {
  color: var(--clr-accent);
}

/* feature section styling from here */
.feature-section {
  display: flex;
  gap: 120px;
  flex: 1;
  padding-bottom: 180px;
}
.feature-content {
  max-width: 586px;
}
.feature-content > h2 {
  max-width: 468px;
  padding-left: 20px;
  border-left: 4px solid var(--clr-accent);
  margin-bottom: 24px;
}
.feature-content > p {
  margin-bottom: 30px;
}
.feature-card {
  background-color: whitesmoke;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 10px var(--clr-text);
  border-radius: 5px;
}
.experience-badage {
  color: white;
  background-color: var(--clr-accent);
  max-width: 270px;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  padding: -100px;
}
.experience-badage > span {
  font-size: var(--fs-big);
  font-weight: var(--fw-bold);
}
.experience-badage > p {
  color: white;
}

/* fact section styling starts from here */
.fact {
  margin: 0 auto;
  padding-bottom: 80px;
}
.fact > p {
  width: 542px;
  margin-top: 24px;
}
.fact-card-container {
  display: flex;
  margin: 100px 50px;
  gap: 120px;
}
.fact-card {
  border: 1px solid var(--clr-accent);
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  flex: 1;
}
.fact-card > img {
  width: 45px;
  margin: 0 auto;
}
.fact-number {
  color: var(--clr-secondary);
  font-weight: var(--fw-semibold);
}
.fact-card > p {
  font-size: var(--fs-medium);
  font-weight: var(--fw-medium);
}

/* sponsors section styling start here  */
.sponsors {
  text-align: center;
  margin-bottom: 150px;
}
.sponsors > h2 {
  margin-bottom: 24px;
}
.sponsors > p {
  margin-bottom: 50px;
  max-width: 542px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.sponsors-logo {
  display: flex;
}
.sponsors-logo > img {
  width: 160px;
}

/* footer styling start here */
footer {
  max-width: 1440px;
  background-color: #fff4e7;
  margin: 30px auto;
  padding: 1rem;
  border-radius: 5px;
}
footer > p {
  font-size: var(--fs-medium);
  text-align: center;
  margin-bottom: 0;
}
